[settings]
profile = black
line_length = 127
target_version = py311, py312
skip = .venv,venv,.env,build,dist
skip_glob = */migrations/*
known_first_party = config,core,infrastructure,storage,monitoring
